{% extends "index.twig" %}

{% block title %}Add/Edit Article{% endblock %}

{% block subtitle %}<h1 class="page-header">Add/Edit Article</h1>{% endblock %}

{% block headerCSS %}
    {{ parent() }}
    <link href="{{ uri.base.path }}assets/markitup/skins/markitup/style.css" rel="stylesheet"/>
    <link href="{{ uri.base.path }}assets/markitup/sets/markdown/style.css" rel="stylesheet"/>
{% endblock %}

{% block JavaScriptBottom %}
    {{ parent() }}

    <script type="text/javascript" src="{{ uri.base.path }}assets/markitup/jquery.markitup.js"></script>
    <script type="text/javascript" src="{{ uri.base.path }}assets/markitup/sets/markdown/set.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#description').markItUp(myMarkdownSettings);
        });

        $('a[data-toggle="tab"]').on('shown', function(e) {
            if ('#preview' == $(e.target).attr('href')) {
                JFWAwesome.preview('#description', '#preview', '{{ uri.base.path }}');
            }
        });
    </script>
{% endblock %}

{% block content %}
    <form method="post" action="{{ uri.base.path }}news/save" class="form-inline" name="editForm" role="form">
	<div class="form-group">
		<label for="itemtitle">News Title</label>
		<input type="text" class="form-control" id="itemtitle" name="item[title]" value="{{ item.title }}" />
	</div>
	
	<div class="form-group">
		<label for="itembody">News Content</label>
		{% set editorId="description" %}
		{% set editorName="item[raw_body]" %}
		{% set editorText=item.raw_body %}
		{% set editorPlaceholder="Description text" %}

		{% include "editor.twig" %}
	</div>
	


            <input type="hidden" name="item[news_id]" value="{{ item.news_id }}">
            <a class="btn btn-success" href="javascript:" onclick="document.editForm.submit();">Save</a>
            <a class="btn btn-inverse" href="{{ uri.base.path }}news/view/{{ item.id }}">Cancel</a>
    </form>
{% endblock %}
